NODE_ENV=production

PORT=3001
ZEUS_BASE=https://zeus.ionis-it.com
ALLOWED_ORIGIN=http://localhost:3001

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

RYBBIT_API_BASE=https://app.rybbit.io/api
RYBBIT_SITE_ID=
RYBBIT_API_KEY=
RYBBIT_TIME_ZONE=Europe/Paris
